body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #292C3E;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-container {
  background-color: #3E416D;
  color: #E2E2E2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transform: scale(1.5); /* Aumenta a escala do quiz em 50% */
}

.question-container {
  margin-bottom: 20px;
}

.question {
  font-size: 24px;
  font-weight: bold;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.option {
  flex: 1;
  padding: 10px 20px;
  border: none;
  background-color: #585B7E;
  color: #E2E2E2;
  cursor: pointer;
  border-radius: 5px;
}

.option:hover {
  background-color: #4A4E69;
}

.correct-option {
  background-color: #27AE60 !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
}

.prev-btn,
.next-btn {
  background-color: #6D6D6D;
  color: #E2E2E2;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #525252;
}
